<div class="quiz">
    @if (quizService.error()) {
    <div class="results">
        <div class="congratulations">Server error</div>
        <div class="results-info">
            <div>{{ quizService.error() }}</div>
        </div>
    </div>
    }

    
    @if (quizService.showResults()) {
    <div class="results">
        <div class="congratulations">Congratulations!</div>
        <div class="results-info">
            <div>You have completed the quiz.</div>
            <div>
                You've got {{ quizService.correctAnswersCount() }} of
                {{ quizService.questions().length }} right.
            </div>
        </div>
        <div class="next-button" (click)="quizService.restart()">Restart</div>
    </div>
    }

    @if (!quizService.showResults() && quizService.questions().length > 0) {
    <div>
        <div class="score">
            Question {{ quizService.currentQuestionIndex() + 1 }}/{{
            quizService.questions().length
            }}
        </div>
        <quiz-question />
        @if (quizService.currentAnswer()) {
        <div class="next-button" (click)="quizService.goToNextQuestion()">
            Next question
        </div>
        }
    </div>
    }
</div>